{% extends 'layout.html' %}
{% block content %}
<div class="container h-100">
    <div class="d-flex flex-column h-100">
        <!-- header -->
        <div class="mb-3 border-bottom">
            <h1 class="text-center">GrandPy</h1>
        </div>

        <!-- chatting box -->
        <div class="mb-2 p-2 flex-grow-1 bg-light rounded" id="chatlog">
        </div>

        <!-- form -->
        <form id="form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Posez-vous une question" name="user_input" id="user_input">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Envoyer</button>
                </div>
            </div>
        </form>

        <!-- footer -->
        <div class="mt-3">
            <p class="text-center border-top">copyright</p>
        </div>
    </div>
</div>

{%endblock %}