{% extends 'layout.html' %}
{% block content %}
<div id="myflexbox" class="d-flex flex-column">
    <div class="p-2 mb-3 border bg-info">
        <h1 class="text-center">GrandPy</h1>
    </div>
    <div class="w-75 p-2 align-self-center flex-grow-1 bg-light rounded" id="chatlog">
    </div>
    <div class="w-75 align-self-center pt-2">
        <form id="form1">
            <div class="input-group mt-mr-md-3">
                <input type="text" class="form-control" placeholder="Avez-vous des questions ?" name="user_input" id="user_input">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-3 p-2 bg-info">
        <p class="text-center">copyright</p>
    </div>
</div>
{%endblock %}